body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system,Helvetica , sans-serif;
    color: #666;
    line-height: 1.5;
    background-color: #ccc;
}

.app {
    height: 45px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.app ul li{
    height: 45px;
    background-color: #333;
    float: left;
    text-align: center;
    line-height: 45px;
    color: #fff;
}
.app ul li:nth-child(1) {
    width: 8%;
}
.app ul li:nth-child(1) img{
    width: 10px;
}
.app ul li:nth-child(2) {
    width: 10%;
}
.app ul li:nth-child(2) img {
    width: 30px;
    vertical-align: middle;
}
.app ul li:nth-child(3) {
    width: 57%;
}
.app ul li:nth-child(4) {
    width: 25%;
    background-color: #f63515;
}
/* 搜素 */
.search-wrap {
    height: 44px;
    position: relative;
    overflow: hidden;  /*  父子元素margintop重叠，会将整个父元素带下来，解决方法加个overflow */
}
.search-btn{
    position: absolute;
    top: 0;
    left: 0;
    background-color:pink;
    height: 44px;
    width: 40px;
}
.search-login{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 44px;
    background-color: purple;
}
.search{
    height: 30px;
    background-color: #fff;
    margin: 0 50px;
    border-radius: 15px;
    margin-top: 7px;
}